/.docker/nginx/logs
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/rootWeb/.env
/rootWeb/.env.backup
/rootWeb/.env.production
/rootWeb/.phpunit.result.cache
/rootWeb/Homestead.json
/rootWeb/Homestead.yaml
/rootWeb/auth.json
/rootWeb/npm-debug.log
/rootWeb/yarn-error.log
/rootWeb/.fleet
/rootWeb/.idea
README.md
Dump20231110.sql
