* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

}

.flex {
    display: flex;
}


a {
    text-decoration-line: none;
    color: black;
}

li {
    list-style: none;
}

.main {
    position: relative;
    top: 10vh;
    flex-direction: column;
}
